<!doctype html>
<html lang='en'>
    <head>

        <!-- Required meta tags -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
              integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
              crossorigin='anonymous'>

        <title>News</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <div class='row title'>
            <div class='col-10 offset-2'>
                <h1>
                    News by keywords {{str(keywords)}}
                </h1>
            </div>
        </div>

        {% from urllib.parse import urlparse %}
        <div class='row'>
            <div class='col-12'>
                {% for ind, new in enumerate(news) %}
                    <div class='row new_row'>
                        <div class='col-10 offset-1'>

                            <div class='card'>
                                <div class='card-header'>
                                    <div class='row'>
                                        <div class='col-9' align='left'><b>{{ new['title']}}</b></div>
                                        <div class='col-3' align='right'>{{ new['datetime']}}</div>
                                    </div>
                                </div>
                                <div class='news_card'>
                                    <div class='row' style='padding-bottom: 5px'>
                                        <div class='col-md-auto'>
                                            <button type='button' class='btn btn-info collapsed' data-toggle='collapse'
                                                    data-target={{'#summary_' + str(ind)}} id={{'btn_' + str(ind)}}>
                                                Summary
                                            </button>
                                        </div>
                                        <div class='col' style='padding: 5px'>
                                            Read the full text at: <a href={{new['link']}}>{{urlparse(new['link']).hostname}}</a>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col collapse summary' id={{'summary_' + str(ind)}}>
                                           {% raw new['summary'].replace('\n', '<br>') %}
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                {% end %}
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
                integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
                crossorigin='anonymous'>
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
                integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q'
                crossorigin='anonymous'>
        </script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
                integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl'
                crossorigin='anonymous'>
        </script>
    </body>
</html>